@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="@Url.IsLinkActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-table"></i> <span>Dashboard</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Friends")">
                <a href="@Url.Action("Index", "Friends")"><i class="fa fa-users"></i> <span>Amigos</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Loans")">
                <a href="@Url.Action("Index", "Loans")"><i class="fa fa-arrows-h"></i> <span>Empréstimos</span></a>
            </li>
            <li class="@Url.IsLinkActive("Index", "Games")">
                <a href="@Url.Action("Index", "Games")"><i class="fa fa-gamepad"></i> <span>Jogos</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>